! ############
! xft settings
! ############

Xft.autohint:                     false
Xft.lcdfilter:                    lcddefault
Xft.hintStyle:                    hintfull
Xft.hinting:                      true
Xft.antialias:                    true
Xft.dpi:                          96
Xft.rgba:                         rgb


! ##############
! URxvt settings
! ##############

! general
! URxvt*termName:                   screen-256color
URxvt*geometry:                   120x36
URxvt*loginShell:                 true
URxvt*depth:                      32
URxvt*borderless:                 true
URxvt*saveLines:                  4096
URxvt*skipScroll:                 false
URXvt*visualBell:                 true
URXvt*urgentOnBell:               true
URxvt*fading:                     20

! disable default key bindings (ctrl / ctrl + shift)
URxvt*iso14755:                   false
URxvt*iso14755_52:                false

! font
URxvt*font:                       xft:DejaVuSansMonoForPowerline Nerd Font:size=11
URxvt*boldFont:                   xft:DejaVuSansMonoForPowerline Nerd Font:bold:size=11
URxvt*italicFont:                 xft:DejaVuSansMonoForPowerline Nerd Font:italic:size=11
URxvt*boldItalicFont:             xft:DejaVuSansMonoForPowerline Nerd Font:bold:italic:size=11
URxvt*letterSpace:                0

! scrollbar
! URxvt*scrollBar:                false
! URxvt*scrollBar_floating:       false
URxvt*scrollBar_right:            true
URxvt*scrollstyle:                plain
! URxvt*troughtColor:             #ffffff
URxvt*scrollColor:                [60]#000000
! do not scroll with output
URxvt*scrollTtyOuput:             false
! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt*scrollWithBuffer:           true
! scroll back to the bottom on keypress
URxvt*scrollTtyKeypress:          true


! ####################
! URxvt perl extension
! ####################
!
URxvt*perl-ext-common:            default,matcher,keyboard-select,clipboard,selection-to-clipboard,font-size,fullscreen

! matcher (clickable urls and other clickable things is configurable)
! default web browser
URxvt*urlLauncher:               /usr/bin/xdg-open
! left mouse button
URxvt*matcher.button:             1

! keyboard-select
! URxvt.keysym.M-s:               perl:keyboard-select:activate
! URxvt.keysym.M-r:               perl:keyboard-select:search

! clipboard
! URxvt.clipboard.autocopy:       true
! URxvt.keysym.M-c:               perl:clipboard:copy
! URxvt.keysym.M-v:               perl:clipboard:paste
! URxvt.keysym.M-C-v:             perl:clipboard:paste_escaped

! `font-size` plugin
URxvt.keysym.C-minus:           perl:font-size:decrease
URxvt.keysym.C-equal:           perl:font-size:increase
! The default font increase step size is 1. This is for portability across all
! fonts (some fonts do not support particular font sizes). Because changing font
! size only really makes sense for anti-aliased fonts (Terminus is bitmapped),
! and because anti-aliased fonts support any size, it makes sense to just use a
! size step of 4 for faster transitions between font size changes.
URxvt.font-size.step:           4

! fullscreen
URxvt.keysym.F11: perl:fullscreen:switch


! ######################
! gruvbox colors palette
! ######################
!
URxvt*background:                 [85]#282828
URxvt*foreground:                 #ebdbb2
URxvt.transparent:                true
URxvt.shading:                    0
URxvt.blurRadius:                 25x50
URxvt*cursorColor:                #ebdbb2
URxvt*color0:                     #282828
URxvt*color8:                     #928374
URxvt*color1:                     #cc241d
URxvt*color9:                     #fb4934
URxvt*color2:                     #98971a
URxvt*color10:                    #b8bb26
URxvt*color3:                     #d79921
URxvt*color11:                    #fabd2f
URxvt*color4:                     #458588
URxvt*color12:                    #83a598
URxvt*color5:                     #b16286
URxvt*color13:                    #d3869b
URxvt*color6:                     #689d6a
URxvt*color14:                    #8ec07c
URxvt*color7:                     #a89984
URxvt*color15:                    #ebdbb2
URxvt*color24:                    #076678
URxvt*color66:                    #427b58
URxvt*color88:                    #9d0006
URxvt*color96:                    #8f3f71
URxvt*color100:                   #79740e
URxvt*color108:                   #8ec07c
URxvt*color109:                   #83a598
URxvt*color130:                   #af3a03
URxvt*color136:                   #b57614
URxvt*color142:                   #b8bb26
URxvt*color167:                   #fb4934
URxvt*color175:                   #d3869b
URxvt*color208:                   #fe8019
URxvt*color214:                   #fabd2f
URxvt*color223:                   #ebdbb2
URxvt*color228:                   #f4e8ba
URxvt*color229:                   #fdf4c1
URxvt*color230:                   #ffffc8
URxvt*color234:                   #1d2021
URxvt*color235:                   #282828
URxvt*color236:                   #32302f
URxvt*color237:                   #3c3836
URxvt*color239:                   #504945
URxvt*color241:                   #665c54
URxvt*color243:                   #7c6f64
URxvt*color244:                   #928374
URxvt*color245:                   #928374
URxvt*color246:                   #a89984
URxvt*color248:                   #bdae93
URxvt*color250:                   #d5c4a1


! emulate XTerm for proper recognition of key combinations in Vim
!URxvt.keysym.Up              : \033[A  !breaks arrow keys in Vim
!URxvt.keysym.Down            : \033[B  !breaks arrow keys in Vim
!URxvt.keysym.Right           : \033[C  !breaks arrow keys in Vim
!URxvt.keysym.Left            : \033[D  !breaks arrow keys in Vim
!URxvt.keysym.Page_Up         : \033[5~ !breaks scrolling in Rxvt
!URxvt.keysym.Page_Down       : \033[6~ !breaks scrolling in Rxvt
!URxvt.keysym.Home            : \033[H  !breaks navigation in Vim
!URxvt.keysym.End             : \033[F  !breaks navigation in Vim
! URxvt.keysym.S-Up             : \033[1;2A
! URxvt.keysym.S-Down           : \033[1;2B
! URxvt.keysym.S-Right          : \033[1;2C
! URxvt.keysym.S-Left           : \033[1;2D
!URxvt.keysym.S-Page_Up       : captured by terminal for scrolling
!URxvt.keysym.S-Page_Down     : captured by terminal for scrolling
! URxvt.keysym.S-Home           : \033[1;2H
! URxvt.keysym.S-End            : \033[1;2F
! URxvt.keysym.M-Up             : \033[1;3A
! URxvt.keysym.M-Down           : \033[1;3B
! URxvt.keysym.M-Right          : \033[1;3C
! URxvt.keysym.M-Left           : \033[1;3D
! URxvt.keysym.M-Page_Up        : \033[5;3~
! URxvt.keysym.M-Page_Down      : \033[6;3~
! URxvt.keysym.M-Home           : \033[1;3H
! URxvt.keysym.M-End            : \033[1;3F
! URxvt.keysym.M-S-Up           : \033[1;4A
! URxvt.keysym.M-S-Down         : \033[1;4B
! URxvt.keysym.M-S-Right        : \033[1;4C
! URxvt.keysym.M-S-Left         : \033[1;4D
!URxvt.keysym.M-S-Page_Up     : seen as Rxvt.keysym.S-Page_Up
!URxvt.keysym.M-S-Page_Down   : seen as Rxvt.keysym.S-Page_Down
! URxvt.keysym.M-S-Home         : \033[1;4H
! URxvt.keysym.M-S-End          : \033[1;4F
! URxvt.keysym.C-Up             : \033[1;5A
! URxvt.keysym.C-Down           : \033[1;5B
! URxvt.keysym.C-Right          : \033[1;5C
! URxvt.keysym.C-Left           : \033[1;5D
! URxvt.keysym.C-Page_Up        : \033[5;5~
! URxvt.keysym.C-Page_Down      : \033[6;5~
! URxvt.keysym.C-Home           : \033[1;5H
! URxvt.keysym.C-End            : \033[1;5F
! URxvt.keysym.C-S-Up           : \033[1;6A
! URxvt.keysym.C-S-Down         : \033[1;6B
! URxvt.keysym.C-S-Right        : \033[1;6C
! URxvt.keysym.C-S-Left         : \033[1;6D
!URxvt.keysym.C-S-Page_Up     : seen as Rxvt.keysym.S-Page_Up
!URxvt.keysym.C-S-Page_Down   : seen as Rxvt.keysym.S-Page_Down
! URxvt.keysym.C-S-Home         : \033[1;6H
! URxvt.keysym.C-S-End          : \033[1;6F
! URxvt.keysym.M-C-Up           : \033[1;7A
! URxvt.keysym.M-C-Down         : \033[1;7B
! URxvt.keysym.M-C-Right        : \033[1;7C
! URxvt.keysym.M-C-Left         : \033[1;7D
! URxvt.keysym.M-C-Page_Up      : \033[5;7~
! URxvt.keysym.M-C-Page_Down    : \033[6;7~
! URxvt.keysym.M-C-Home         : \033[1;7H
! URxvt.keysym.M-C-End          : \033[1;7F
! URxvt.keysym.M-C-S-Up         : \033[1;8A
! URxvt.keysym.M-C-S-Down       : \033[1;8B
! URxvt.keysym.M-C-S-Right      : \033[1;8C
! URxvt.keysym.M-C-S-Left       : \033[1;8D
!URxvt.keysym.M-C-S-Page_Up   : seen as Rxvt.keysym.S-Page_Up
!URxvt.keysym.M-C-S-Page_Down : seen as Rxvt.keysym.S-Page_Down
! URxvt.keysym.M-C-S-Home       : \033[1;8H
! URxvt.keysym.M-C-S-End        : \033[1;8F


! Tabbdex
! URxvt*perl-ext-common: ...,tabbedex,...

! Tabbedex features
! URxvt.tabbed.new_button:          false
! URxvt.tabbed.autohide:            true
! URxvt.tabbed.reopen-on-close:     true
! URxvt.tabbed.no-tabbedex-keys:    true

! Tabbedex colors
! URxvt.tabbed.tabbar-bg:           0
! URxvt.tabbed.tabbar-fg:           8
! URxvt.tabbed.tab-bg:              0
! URxvt.tabbed.tab-fg:              10
! URxvt.tabbed.bell-tab-bg:         8
! URxvt.tabbed.bell-tab-fg:         8
! URxvt.tabbed.bell-bg:             8
! URxvt.tabbed.bell-fg:             8
! URxvt.tabbed.title-bg:            8
! URxvt.tabbed.title-fg:            8

! Tabbedex keybindings (4-1 | Mod4-M: Super + Alt)
! URxvt.keysym.4-1-Down:            perl:tabbedex:new_tab
! URxvt.keysym.4-1-Left:            perl:tabbedex:prev_tab
! URxvt.keysym.4-1-Right:           perl:tabbedex:next_tab
! URxvt.keysym.4-1-Up:              perl:tabbedex:rename_tab
! URxvt.keysym.4-1-C-Left:          perl:tabbedex:move_tab_left
! URxvt.keysym.4-1-C-Right:         perl:tabbedex:move_tab_right
! URxvt.keysym.4-1-C-Up:            perl:tabbedex:kill_tab

